@import "tailwindcss";
@plugin "daisyui";




.custom-swiper .swiper-pagination-bullet {
    background: #fff; /* default (inactive) bullet color */
    opacity: 0.7;
  }
  
  .custom-swiper .swiper-pagination-bullet-active {
    background: #c73450; /* active bullet color (orange-500 as example) */
    opacity: 1;
  }